<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger">
                <h4 class="alert-heading">
                    <%=err.statusCode%>
                </h4>
                <p>
                    <%=err.message%>
                </p>
                <hr>
                <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit est facere nulla dolorum sequi aliquam temporibus nostrum molestiae. Explicabo quae iure cumque maiores corporis minus dolorum, quod vitae dolorem consequatur?
                </p>
            </div>
        </div>
    </div>